<div class="support-menu">
  <nav class="vertical">
    <ul>

      <li>
        <a href="#">
          <i class="fa fa-home fa-lg"></i>HOME </a>
        <div>
          <ul>
            <li>
              <a routerLink='/dashboard'>Dashboard</a>
            </li>


          </ul>
        </div>
      </li>


      <li>
        <a href="#">STAFF MANAGEMENT</a>
        <div>
          <ul>
            <li>
              <a routerLink='/staff'>Staff Contact </a>
            </li>
            <li>
              <a routerLink='/addStaff'>Add Staff</a>
            </li>
            <li>
              <a routerLink='/user'>User Management</a>
            </li>
            <li>
              <a href="#">Priviledge Management</a>
            </li>

          </ul>
        </div>
      </li>
      <li>
        <a href="#">CLIENT MANAGEMENT </a>
        <div>
          <ul>
            <li>
              <a routerLink='/client'>Client Contact</a>
            </li>
            <li>
              <a routerLink='/addclient'>Add Client</a>
            </li>

          </ul>
        </div>
      </li>
      <li>
        <a href="#">CASE MANAGEMENT</a>
        <div>
          <ul>
            <li>
              <a routerLink='/case'>All Cases</a>
            </li>
            <li>
              <a routerLink='/addcase'>Add Cases</a>
            </li>
            <li>
              <a routerLink='/caseprocess'>Case Process</a>
            </li>
            <li>
              <a routerLink='/casepayment'>Case Payment</a>
            </li>
          </ul>
        </div>
      </li>

      <li>
        <a href="#">DEED MANAGEMENT</a>
        <div>
          <ul>
            <li>
              <a routerLink='/dlist'>All Deed</a>
            </li>
            <li>
              <a routerLink='/adddeed'>Add Deed</a>
            </li>

          </ul>
        </div>
      </li>

      <li>
        <a href="#">EVENT MANAGEMENT</a>
        <div>
          <ul>
            <li>
              <a routerLink='/calender'>All Events</a>
            </li>
            <li>
              <a routerLink='/addevent'>Add Event</a>
            </li>

          </ul>
        </div>
      </li>
      <li>
        <a href="#">LAW BOOKS</a>
        <div>
          <ul>
            <li>
              <a routerLink='/booklist'>Book List</a>
            </li>

            <li>
              <a routerLink='/addbooks'>Add Law Book</a>
            </li>

          </ul>
        </div>
      </li>

      <li>
        <a href="#">REPORTS</a>
        <div>
          <ul>
            <li>
              <a href="#">Reports</a>
            </li>

          </ul>
        </div>
      </li>

      <li>
        <a href="#">BACKUP</a>
        <div>
          <ul>
            <li>
              <a routerLink='/tst'>Backup</a>
            </li>



          </ul>
        </div>
      </li>

    </ul>
  </nav>


</div>